/angular-component/dist
/angular-component/tmp
/angular-component/out-tsc
# Only exists if Bazel was run
/angular-component/bazel-out

# dependencies
/angular-component/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/angular-component/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/angular-component/.sass-cache
/angular-component/connect.lock
/angular-component/coverage
/angular-component/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/angular-component/typings

# System Files
.DS_Store
Thumbs.db
